.body {
    padding-top: 75px;
    padding-bottom: 75px;
    display: grid;
    /* background-image: url('../../assets/bg3.png'); */
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
}

.slide-track {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.imgsize {
    width: 300px;
    height: 300px;
    transition: transform 1s;
}

img:hover {
    transform: translateZ(20px);
}

/* .slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slide::before {
    left: 0;
    top: 0;
}

.slide::after {
    right: 0;
    top: 0;
    transform: rotateZ(100deg);
} */

