@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;400;600;700;800&family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@keyframes anims{
  0%{opacity: 1;} 
  100%{opacity: 0.1;}
}

.like-container svg{
  top: 100%;
  animation: fadeup 5s ease-in forwards;
}
@keyframes fadeup {
  0%{
    opacity: 1;
    top: 100%;
  }
  100%{
    opacity: 0;
    top: 0;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.item:nth-child(odd) img{
  animation: slideInFromLeft 0.7s ease-in-out ;
}
.item:nth-child(even) img{
  animation: slideInFromRight 0.7s ease-in-out ;
}

/* .background1 {
  background: black;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
